<p> Game Rooms</p>
<div class=" w-screen grid grid-cols-3 ">
 <% @gamerooms.each do |gameroom| %>
 
 <div class= " bg-gray-200 col-span-1  ">
   <p>
     <%= gameroom.player.email %>
  </p>
  <p>
     <%= link_to "Join game room", gameroom_path(gameroom) %> 
     
  </p>
</div>

<% end %>
</div>

