
<%= component_controller do %>
<div  class=" border-solid border-2 border-black w-20 h-20 rounded-lg items-center  bg-gray-200 text-center"  >  
<%= reflex_tag :test, :button, "hello", "data-key" => key %>
<%= @count %>
<%= @mark %>
</div>


<% end %>

