
<%= component_controller do %>
<div  class=" border-solid border-2 border-black w-16 h-16 rounded-lg items-cen/gamerooms/3ter  bg-gray-200 text-center"  >  
<%= reflex_tag :test, :button, "hello", "data-key" => key %>
<%= @count %>
<%= @value %>
</div>


<% end %>

